/* styles.scss */

@import '@angular/material/prebuilt-themes/indigo-pink.css';

$border: #C0C0C0;
$gray: #FAFAFA;
$white: #FFFFFF;
$red: #AB3027;

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: 'Roboto', sans-serif;
}

button, input {
  font-family: inherit;
  font-size: 1rem;
  background-color: white;
  border: 1px solid $border;
  outline: none;
}

button:not(:disabled) {
  cursor: pointer;
}
